[submodule "Css.js"]
	path = Css.js
	url = https://github.com/jotform/css.js.git
[submodule "Tarball.js"]
	path = Tarball.js
	url = https://github.com/ankitrohatgi/tarballjs.git
[submodule "libarchive.js"]
	path = libarchive.js
	url = https://github.com/nika-begiashvili/libarchivejs.git